<web-app>
	
	<display-name>TransfGov</display-name>
	
	<security-constraint>
		
		<web-resource-collection>
			<web-resource-name>Security Access</web-resource-name>
			<url-pattern>/api/v2/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
		
	</security-constraint>
	
	<security-constraint>
		
		<web-resource-collection>
			<web-resource-name>Access to Leis</web-resource-name>
			<url-pattern>/api/v2/leis/*</url-pattern>
			<http-method>PUT</http-method>
		</web-resource-collection>
		
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
		
	</security-constraint>
	
	
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>default</realm-name>
	</login-config>
	
	<security-role>
		<role-name>admin</role-name>
	</security-role>

</web-app>